language: cpp

sudo: required
dist: trusty

os:
#  - linux
  - osx

env:
  - CONFIG=Release
#  - CONFIG=Debug

install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
         sudo apt-add-repository -y ppa:beineri/opt-qt56-trusty
      && sudo apt-get -qq update
      && sudo apt-get -qq install qt56location qt56multimedia qt56sensors qt56svg qt56tools qt56webchannel qt56webengine
      ;
    else
         brew update
      && brew unlink cmake
      && brew install cmake qt5
      && chmod -R 755 /usr/local/opt/qt5/*
      && ls -alR /usr/local/opt/qt5/../Cellar/qt5/5.6.0
      ;
    fi

notifications:
  email: team@opencor.ws
